In [1]:
import pandas as pd

In [2]:
Hw = pd.read_excel('./data/01. population_in_Seoul.xls', encoding = 'UTF-8')

In [3]:
Hw.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [4]:
Hw = pd.read_excel('./data/01. population_in_Seoul.xls',
                    header = 2,
                    usecols = 'B,D,H,I,K,L',
                    encoding = 'UTF-8')

In [5]:
Hw.head()

   자치구           계       남자.1       여자.1      남자.2      여자.2
0   합계  10197604.0  4871560.0  5055408.0  128445.0  142191.0
1  종로구    162820.0    75611.0    77978.0    4064.0    5167.0
2   중구    133240.0    61656.0    62656.0    4134.0    4794.0
3  용산구    244203.0   111167.0   118289.0    7965.0    6782.0
4  성동구    311244.0   150076.0   153304.0    3692.0    4172.0

In [6]:
Hw_columns = Hw.columns

Hw.rename(columns = {
    Hw_columns[0] : '구별',
    Hw_columns[1] : '총인구수',
    Hw_columns[2] : '한국인남자',
    Hw_columns[3] : '한국인여자',
    Hw_columns[4] : '외국인남자',
    Hw_columns[5] : '외국인여자'
},inplace=True)

Hw.head()

    구별        총인구수      한국인남자      한국인여자     외국인남자     외국인여자
0   합계  10197604.0  4871560.0  5055408.0  128445.0  142191.0
1  종로구    162820.0    75611.0    77978.0    4064.0    5167.0
2   중구    133240.0    61656.0    62656.0    4134.0    4794.0
3  용산구    244203.0   111167.0   118289.0    7965.0    6782.0
4  성동구    311244.0   150076.0   153304.0    3692.0    4172.0

In [7]:
Hw

      구별        총인구수      한국인남자      한국인여자     외국인남자     외국인여자
0     합계  10197604.0  4871560.0  5055408.0  128445.0  142191.0
1    종로구    162820.0    75611.0    77978.0    4064.0    5167.0
2     중구    133240.0    61656.0    62656.0    4134.0    4794.0
3    용산구    244203.0   111167.0   118289.0    7965.0    6782.0
4    성동구    311244.0   150076.0   153304.0    3692.0    4172.0
5    광진구    372164.0   174599.0   182612.0    6393.0    8560.0
6   동대문구    369496.0   177021.0   177058.0    5911.0    9506.0
7    중랑구    414503.0   204265.0   205617.0    1837.0    2784.0
8    성북구    461260.0   219545.0   230228.0    4531.0    6956.0
9    강북구    330192.0   160353.0   166333.0    1333.0    2173.0
10   도봉구    348646.0   170289.0   176340.0     737.0    1280.0
11   노원구    569384.0   275211.0   290354.0    1612.0    2207.0
12   은평구    494388.0   238337.0   251606.0    1883.0    2562.0
13  서대문구    327163.0   152613.0   162369.0    4152.0    8029.0
14   마포구    389649.0   181346.0   197220.0    4543.0    6540.0
15   양천구    479978.0   235278.0   240671.0    1839.0    2190.0
16   강서구    603772.0   291249.0   305999.0    3184.0    3340.0
17   구로구    447874.0   207114.0   209373.0   17322.0   14065.0
18   금천구    255082.0   120334.0   116019.0   10224.0    8505.0
19  영등포구    402985.0   183705.0   184367.0   18868.0   16045.0
20   동작구    412520.0   195775.0   204681.0    5442.0    6622.0
21   관악구    525515.0   256090.0   251113.0    8673.0    9639.0
22   서초구    450310.0   214036.0   231958.0    2228.0    2088.0
23   강남구    570500.0   270726.0   294824.0    2575.0    2375.0
24   송파구    667483.0   321676.0   338908.0    3364.0    3535.0
25   강동구    453233.0   223488.0   225531.0    1939.0    2275.0
26   NaN         NaN        NaN        NaN       NaN       NaN

In [8]:
Hw.drop([26],inplace=True)

In [9]:
Hw.tail()

     구별      총인구수     한국인남자     한국인여자   외국인남자   외국인여자
21  관악구  525515.0  256090.0  251113.0  8673.0  9639.0
22  서초구  450310.0  214036.0  231958.0  2228.0  2088.0
23  강남구  570500.0  270726.0  294824.0  2575.0  2375.0
24  송파구  667483.0  321676.0  338908.0  3364.0  3535.0
25  강동구  453233.0  223488.0  225531.0  1939.0  2275.0

In [11]:
Hw['한국남자비율'] = Hw['한국인남자'] / Hw['총인구수'] * 100

In [12]:
Hw['한국여자비율'] = Hw['한국인여자'] / Hw['총인구수'] * 100

In [13]:
Hw['외국남자비율'] = Hw['외국인남자'] / Hw['총인구수'] * 100

In [14]:
Hw['외국여자비율'] = Hw['외국인여자'] / Hw['총인구수'] * 100

In [18]:
Hw.sort_values(by='총인구수',ascending=False)

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
0,합계,10197604.0,4871560.0,5055408.0,128445.0,142191.0,47.771614,49.574469,1.259561,1.394357
24,송파구,667483.0,321676.0,338908.0,3364.0,3535.0,48.192388,50.774027,0.503983,0.529602
16,강서구,603772.0,291249.0,305999.0,3184.0,3340.0,48.238242,50.681217,0.527351,0.553189
23,강남구,570500.0,270726.0,294824.0,2575.0,2375.0,47.454163,51.678177,0.451358,0.416301
11,노원구,569384.0,275211.0,290354.0,1612.0,2207.0,48.334867,50.994408,0.283113,0.387612
21,관악구,525515.0,256090.0,251113.0,8673.0,9639.0,48.731245,47.784174,1.650381,1.834201
12,은평구,494388.0,238337.0,251606.0,1883.0,2562.0,48.208492,50.892416,0.380875,0.518216
15,양천구,479978.0,235278.0,240671.0,1839.0,2190.0,49.018497,50.142090,0.383143,0.456271
8,성북구,461260.0,219545.0,230228.0,4531.0,6956.0,47.596800,49.912847,0.982309,1.508043
25,강동구,453233.0,223488.0,225531.0,1939.0,2275.0,49.309737,49.760498,0.427815,0.501949
22,서초구,450310.0,214036.0,231958.0,2228.0,2088.0,47.530812,51.510737,0.494770,0.463681
17,구로구,447874.0,207114.0,209373.0,17322.0,14065.0,46.243810,46.748193,3.867606,3.140392
7,중랑구,414503.0,204265.0,205617.0,1837.0,2784.0,49.279499,49.605672,0.443181,0.671648
20,동작구,412520.0,195775.0,204681.0,5442.0,6622.0,47.458305,49.617231,1.319209,1.605256
19,영등포구,402985.0,183705.0,184367.0,18868.0,16045.0,45.586064,45.750338,4.682060,3.981538
14,마포구,389649.0,181346.0,197220.0,4543.0,6540.0,46.540861,50.614784,1.165921,1.678434
5,광진구,372164.0,174599.0,182612.0,6393.0,8560.0,46.914532,49.067615,1.717791,2.300061
6,동대문구,369496.0,177021.0,177058.0,5911.0,9506.0,47.908773,47.918787,1.599747,2.572694
10,도봉구,348646.0,170289.0,176340.0,737.0,1280.0,48.842952,50.578524,0.211389,0.367135
9,강북구,330192.0,160353.0,166333.0,1333.0,2173.0,48.563563,50.374631,0.403705,0.658102
13,서대문구,327163.0,152613.0,162369.0,4152.0,8029.0,46.647390,49.629390,1.269092,2.454128
4,성동구,311244.0,150076.0,153304.0,3692.0,4172.0,48.218118,49.255247,1.186208,1.340427
18,금천구,255082.0,120334.0,116019.0,10224.0,8505.0,47.174634,45.483021,4.008123,3.334222
3,용산구,244203.0,111167.0,118289.0,7965.0,6782.0,45.522373,48.438799,3.261631,2.777198
1,종로구,162820.0,75611.0,77978.0,4064.0,5167.0,46.438398,47.892151,2.496008,3.173443
2,중구,133240.0,61656.0,62656.0,4134.0,4794.0,46.274392,47.024917,3.102672,3.598019

In [19]:
Hw.sort_values(by='한국인남자',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
0,합계,10197604.0,4871560.0,5055408.0,128445.0,142191.0,47.771614,49.574469,1.259561,1.394357
24,송파구,667483.0,321676.0,338908.0,3364.0,3535.0,48.192388,50.774027,0.503983,0.529602
16,강서구,603772.0,291249.0,305999.0,3184.0,3340.0,48.238242,50.681217,0.527351,0.553189
11,노원구,569384.0,275211.0,290354.0,1612.0,2207.0,48.334867,50.994408,0.283113,0.387612
23,강남구,570500.0,270726.0,294824.0,2575.0,2375.0,47.454163,51.678177,0.451358,0.416301

In [20]:
Hw.sort_values(by='한국인여자',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
0,합계,10197604.0,4871560.0,5055408.0,128445.0,142191.0,47.771614,49.574469,1.259561,1.394357
24,송파구,667483.0,321676.0,338908.0,3364.0,3535.0,48.192388,50.774027,0.503983,0.529602
16,강서구,603772.0,291249.0,305999.0,3184.0,3340.0,48.238242,50.681217,0.527351,0.553189
23,강남구,570500.0,270726.0,294824.0,2575.0,2375.0,47.454163,51.678177,0.451358,0.416301
11,노원구,569384.0,275211.0,290354.0,1612.0,2207.0,48.334867,50.994408,0.283113,0.387612

In [21]:
Hw.sort_values(by='외국인남자',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
0,합계,10197604.0,4871560.0,5055408.0,128445.0,142191.0,47.771614,49.574469,1.259561,1.394357
19,영등포구,402985.0,183705.0,184367.0,18868.0,16045.0,45.586064,45.750338,4.682060,3.981538
17,구로구,447874.0,207114.0,209373.0,17322.0,14065.0,46.243810,46.748193,3.867606,3.140392
18,금천구,255082.0,120334.0,116019.0,10224.0,8505.0,47.174634,45.483021,4.008123,3.334222
21,관악구,525515.0,256090.0,251113.0,8673.0,9639.0,48.731245,47.784174,1.650381,1.834201

In [22]:
Hw.sort_values(by='외국인여자',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
0,합계,10197604.0,4871560.0,5055408.0,128445.0,142191.0,47.771614,49.574469,1.259561,1.394357
19,영등포구,402985.0,183705.0,184367.0,18868.0,16045.0,45.586064,45.750338,4.682060,3.981538
17,구로구,447874.0,207114.0,209373.0,17322.0,14065.0,46.243810,46.748193,3.867606,3.140392
21,관악구,525515.0,256090.0,251113.0,8673.0,9639.0,48.731245,47.784174,1.650381,1.834201
6,동대문구,369496.0,177021.0,177058.0,5911.0,9506.0,47.908773,47.918787,1.599747,2.572694

In [23]:
Hw.sort_values(by='한국남자비율',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
25,강동구,453233.0,223488.0,225531.0,1939.0,2275.0,49.309737,49.760498,0.427815,0.501949
7,중랑구,414503.0,204265.0,205617.0,1837.0,2784.0,49.279499,49.605672,0.443181,0.671648
15,양천구,479978.0,235278.0,240671.0,1839.0,2190.0,49.018497,50.142090,0.383143,0.456271
10,도봉구,348646.0,170289.0,176340.0,737.0,1280.0,48.842952,50.578524,0.211389,0.367135
21,관악구,525515.0,256090.0,251113.0,8673.0,9639.0,48.731245,47.784174,1.650381,1.834201

In [24]:
Hw.sort_values(by='한국여자비율',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
23,강남구,570500.0,270726.0,294824.0,2575.0,2375.0,47.454163,51.678177,0.451358,0.416301
22,서초구,450310.0,214036.0,231958.0,2228.0,2088.0,47.530812,51.510737,0.494770,0.463681
11,노원구,569384.0,275211.0,290354.0,1612.0,2207.0,48.334867,50.994408,0.283113,0.387612
12,은평구,494388.0,238337.0,251606.0,1883.0,2562.0,48.208492,50.892416,0.380875,0.518216
24,송파구,667483.0,321676.0,338908.0,3364.0,3535.0,48.192388,50.774027,0.503983,0.529602

In [25]:
Hw.sort_values(by='외국남자비율',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
19,영등포구,402985.0,183705.0,184367.0,18868.0,16045.0,45.586064,45.750338,4.682060,3.981538
18,금천구,255082.0,120334.0,116019.0,10224.0,8505.0,47.174634,45.483021,4.008123,3.334222
17,구로구,447874.0,207114.0,209373.0,17322.0,14065.0,46.243810,46.748193,3.867606,3.140392
3,용산구,244203.0,111167.0,118289.0,7965.0,6782.0,45.522373,48.438799,3.261631,2.777198
2,중구,133240.0,61656.0,62656.0,4134.0,4794.0,46.274392,47.024917,3.102672,3.598019

In [26]:
Hw.sort_values(by='외국여자비율',ascending=False).head()

,구별,총인구수,한국인남자,한국인여자,외국인남자,외국인여자,한국남자비율,한국여자비율,외국남자비율,외국여자비율
19,영등포구,402985.0,183705.0,184367.0,18868.0,16045.0,45.586064,45.750338,4.682060,3.981538
2,중구,133240.0,61656.0,62656.0,4134.0,4794.0,46.274392,47.024917,3.102672,3.598019
18,금천구,255082.0,120334.0,116019.0,10224.0,8505.0,47.174634,45.483021,4.008123,3.334222
1,종로구,162820.0,75611.0,77978.0,4064.0,5167.0,46.438398,47.892151,2.496008,3.173443
17,구로구,447874.0,207114.0,209373.0,17322.0,14065.0,46.243810,46.748193,3.867606,3.140392

In [27]:
Hw.to_csv('./data/20200709_손진현.csㅍ' , encoding='UTF-8')